**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/out
**/Logs
**/.DS_Store
**/node_modules
**/npm-debug.log
Dockerfile
docker-compose.yml
**/.env
**/.env.*
**/secrets
